<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    @System.Web.Optimization.Styles.Render("~/App/Css")
    @System.Web.Optimization.Scripts.Render("~/App/Js")



</head>
<body>
   
        @RenderBody()
   
</body>
</html>
